{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}
    <h2>Give your feedback!</h2>
    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <a href="{{ path('conference-show', {slug: conference.slug}) }}">Browse</a>
    {% endfor %}
{% endblock %}